---
Checks:             '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-readability-identifier-length'
WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        file
